* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(135deg, #050505, #121212);
    color:#fef8e7;
    padding: 30px;
    min-height: 100vh;
}
.container h1 {
    color: #d4af37;
}
.chart-wrapper{
    width:200px;
    height:200px;
}
.movie-legend{
    flex:1;
    padding-left:35px;
}
.legend-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:22px;
}
.legend-left{
    display:flex;
    align-items:center;
    font-size:17px;
    font-weight:500;
}
.legend-color{
    width:14px;
    height:14px;
    border-radius:50%;
    margin-right:12px;
}

.legend-right{
    font-size:18px;
    font-weight:600;
}
.legend-right small{
    color:#6c757d;
    font-weight:400;
}
.revenue-card{
    border:none;
    box-shadow:0 10px 35px rgba(0,0,0,.05);
    border-radius:18px;
    height:520px;
}
.chart-container{
    height:320px;
    
}
.revenue-card .card-header{
    border-radius:20px 20px 0 0;
}
.revenue-card,
.ticket-card{
    height:520px;
    border-radius:18px;
    border:none;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}
.ticket-body{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:380px;
}
/* Chart */
.ticket-left{
    width:200px;
    height:200px;
    flex-shrink:0;
    
}
.ticket-left canvas{
    width:100%!important;
    height:100%!important;
}
/* Legend */
.ticket-right{
    flex:1;
    max-height:320px;
    overflow-y:auto;
}
.legend-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 0;
}
.legend-left{
    display:flex;
    align-items:center;
    font-size:17px;
    font-weight:500;
}
.legend-dot{
    width:14px;
    height:14px;
    border-radius:50%;
    margin-right:14px;
}
.legend-right{
    font-size:17px;
    color:#64748B;
}
.legend-right strong{
    color:#111827;
    font-size:18px;
    margin-right:5px;
}

